body {
    padding: 0;
    margin: 0;
}

.inline-block {
    /*display: inline-block;*/
    float: left;
    background-color: black;
    width: 25%;
    height: 200px;
}

.b1 {
    background-color: red;
}

.b2 {
    background-color: orange;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: green;
}