body {
    /* background-image: url(../image/bg.jpg);
    background-size: cover; */
    background-color: #058292;
}

.jumbotron {
    /* 設定背景顏色 */
    background-color: #093489;
    /* 設定文字顏色 */
    color: white;
}